@use "../util" as *;

.cards {
  padding: rem(56) rem(24) rem(32);
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);

  @include mq(small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(medium) {
    grid-template-columns: 1fr;
  }
}

.card {
  padding: rem(32) rem(24) rem(24) rem(18);
  background-color: #fff;
  position: relative;
  border-radius: rem(6);
  box-shadow: 3px 10px 30px -6px var(--foreground-color);
  display: flex;
  flex-direction: column;

  @include mq(medium) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: rem(42);
    padding-right: rem(42);
  }

  &::before {
    content: "";
    position: absolute;
    border-radius: rem(5);
    top: rem(2);
    bottom: rem(2);
    left: rem(-5);
    background-color: var(--foreground-color);
    z-index: -1;
  }

  &.active-featured {
    &::before {
      width: rem(20);
    }
  }

  &-main {
    display: flex;
    gap: rem(24);
    border-bottom: 1px solid var(--text-color-primary);

    @include mq(medium) {
      border-bottom: initial;
    }
  }

  &-img {
    width: rem(50);
    height: rem(50);
    position: absolute;
    top: rem(-25);
    left: rem(18);

    @include mq(medium) {
      position: initial;
      width: rem(88);
      height: rem(88);
    }
  }

  &-header {
    gap: rem(16);
    margin-bottom: rem(10);
    &-title {
      font-size: 0.9em;
      color: var(--foreground-color);
    }
    &-relevant {
      gap: rem(6);
    }
  }

  &-body {
    &-title {
      font-size: 1em;
      margin-bottom: rem(20);
      cursor: pointer;
      transition: color 200ms ease-in-out;

      @include mq(medium) {
        margin-bottom: rem(12);
      }

      &:hover {
        color: var(--foreground-color);
      }
    }
    &-content {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      color: var(--text-color-primary);
      font-size: 0.9em;
      gap: rem(12);
      padding-bottom: rem(18);

      & li:not(:first-child) {
        &::before {
          content: "•";
          margin-right: rem(6);
        }
      }
    }
  }

  &-footer {
    padding-top: rem(16);

    &-items {
      display: flex;
      flex-flow: row wrap;
      gap: rem(16);
    }
  }
}
