@use "../util" as *;

.tooltip {
  border-radius: rem(6);
  padding: rem(10);
  font-weight: bold;
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

  &:hover {
    color: var(--background-color);
    background-color: var(--foreground-color);
  }
}
